* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  background-image: url('fotoDeFundo.png');
  mix-blend-mode: luminosity;
  opacity: 1;
  position: absolute;
  text-align: center;
}

.login-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  display: flex;
  height: 356px;
  justify-content: center;
  left: 377px;
  position: absolute;
  top: 201px;
  width: 525px;
}

.login-container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-trybe-title {
  color: blue;
}
