body {
  background-color: green;
  background-image: url('fotoDeFundo.png');
  opacity: 1;
  position: absolute;
  text-align: center;
}

.login-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  display: flex;
  height: 356px;
  justify-content: center;
  left: 377px;
  position: absolute;
  top: 201px;
  width: 525px;
}

.login-container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-trybe-title {
  color: blue;
}

/* .login-button {
  box-sizing: border-box;


width: 330px;
height: 40px;
left: 475px;
top: 460px;

background: #003BE5;
border: 1px solid #003BE5;
border-radius: 5px;
color: white;
} */
