body {
  align-items: center;
  background-color: green;
  background-image: url('fotoDeFundo.png');
  display: flex;
  font-family: 'Epilogue', Tahoma, Verdana, sans-serif;
  justify-content: center;
}
